* {
	text-align:center;
}
body::-webkit-scrollbar {
  display: none;
}

body {
	background-image: url("mcimage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;

}

h1 {
	color: grey;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 260px;
	font-size: 120px;

}

.clear {
	text-align: center;
	font-family: 'Raleway';
	font-size: 20px;
	margin: 100px;

}

.button {
	background-color: rgba(182, 147, 120);
	border: none;
  	color: white;
 	 padding: 20px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	margin-bottom: 100px;

}

.button:hover {
	opacity: 0.3;
}

